apt-xapian-index==0.49
asgiref==3.2.3
asn1crypto==0.24.0
astroid==2.3.3
audioread==2.1.8
autopep8==1.4.4
blinker==1.4
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2018.8.24
cffi==1.13.2
chardet==3.0.4
command-not-found==0.3
cryptography==2.6.1
cssselect2==0.2.2
cupshelpers==1.0
dbus-python==1.2.12
decorator==4.4.1
defer==1.0.6
defusedxml==0.6.0
distro==1.3.0
distro-info===0.21ubuntu4
Django==3.0.1
entrypoints==0.3
gurobipy==8.1.1
httplib2==0.11.3
idna==2.6
isort==4.3.21
joblib==0.14.1
keyring==18.0.1
keyrings.alt==3.1.1
language-selector==0.1
launchpadlib==1.10.7
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
librosa==0.7.1
llvmlite==0.30.0
lxml==4.4.2
macaroonbakery==1.2.3
mccabe==0.6.1
meson==0.51.2
netifaces==0.10.4
numba==0.46.0
oauthlib==2.1.0
olefile==0.46
pexpect==4.6.0
Pillow==7.0.0
pipenv==2018.11.26
powerline-status==2.7
protobuf==3.6.1
psutil==5.5.1
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
PyGObject==3.34.0
PyJWT==1.7.0
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
PyQt5==5.12.3
pyRFC3339==1.1
python-apt==1.9.0+ubuntu1.3
python-dateutil==2.7.3
python-debian==0.1.36
pytz==2019.2
pyxdg==0.25
PyYAML==5.1.2
redis==3.3.11
reportlab==3.5.32
requests==2.21.0
requests-unixsocket==0.1.5
resampy==0.2.2
scikit-learn==0.22.1
scipy==1.4.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.16.0
sip==4.19.18
six==1.13.0
SoundFile==0.10.3.post1
sqlparse==0.3.0
svglib==0.9.3
svgwrite==1.3.1
system-service==0.3
systemd-python==234
tinycss2==1.0.2
typed-ast==1.4.0
ubuntu-advantage-tools==19.5
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.2
usb-creator==0.3.7
virtualenv==16.7.9
virtualenv-clone==0.5.3
wadllib==1.3.3
webencodings==0.5.1
wrapt==1.11.2
xkit==0.0.0
