audioread==2.1.8
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.3.0
decorator==4.4.2
defusedxml==0.6.0
joblib==0.14.1
librosa==0.7.2
llvmlite==0.31.0
numba==0.48.0
numpy==1.18.2
Pillow==7.1.1
pycparser==2.20
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
svgwrite==1.4
tinycss2==1.0.2
webencodings==0.5.1